<div class="button-panel">
  <h1 class="title-head">{{ "ETITLEHEAD" | translate }}</h1>
  <br /><br />

  @if (categories$ | async; as groupedCategories) {
    @for (group of groupedCategories; track $index) {
      <div class="button-container">
        @for (item of group; track item.idMenu) {
          <button mat-raised-button
                  [ngClass]="{ active: selected.includes(item['descripción']) }"
                  (click)="setActive(item['descripción'])">
            {{ item["descripción"] }}
          </button>
        }
        <br /><br /><br />
      </div>
    }
  } @else {
    <p>Cargando categorías...</p>
  }
</div>
