<div class="gradient-box" @fadeIn>
  <div>
    <h1 class="title-head">{{ "TITLEUNLOCK" | translate }}</h1>
  </div>

  <div class="carousel-container">
    <div class="cards-container">
      @if (brands$ | async; as list_Brands) {
        <button
          mat-mini-fab
          color="primary"
          class="btn-arrows"
          (click)="prevPage()"
          [disabled]="currentPage() === 0"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        @for (brand of getPagedBrands()(list_Brands); track $index) {
          <mat-card class="brand-card">
            <div class="image-container">
              <img
                id="imagen_marca"
                [src]="brand.imagen"
                [alt]="brand.nombreMarca"
              />
              <img
                id="logo_angular"
                src="assets/logo_angular.png"
                alt="Logo Angular"
              />
            </div>

            <mat-card-content class="card-content">
              <button matButton="tonal" class="cashback-btn">
                <mat-icon>monetization_on</mat-icon> Cashback
              </button>
              <h2 class="brand-name">{{ brand.nombreMarca }}</h2><br>
              <p class="brand-desc">{{ brand["descripción"] }}</p>
            </mat-card-content>
          </mat-card>
        }

        <button
          mat-mini-fab
          color="primary"
          class="btn-arrows"
          (click)="nextPage(list_Brands.menuItems.length)"
          [disabled]="currentPage() >= getMaxPage(list_Brands.menuItems.length)"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      }
    </div>
  </div>
  <br /><br />
  <div class="footer-btn">
    <button mat-flat-button color="accent">
      {{ "BTNLINKCARD" | translate }} &nbsp; &gt;
    </button>
  </div>
</div>
<br /><br />
<br /><br />
<br /><br />
<br /><br />
